@model AddProjectMembersViewModel


<h2>Projektet <em class="accentWord">@Model.Project.Name</em> är skapat!</h2>
<br />
<br />
<h4>Lägg till personer som medverkar i projektet:</h4>
<br />
@try
{
    if (Model.Project.User_Project.Any())
    {
            @foreach (var item in Model.Project.User_Project)
            {
                <p>@item.User.FirstName @item.User.LastName</p>
            }
    <br />
    }
}

catch (Exception ex)
{

}

<form method="post" class="formRegister">
    <div class="inputRow">
        <label>Användarnamn:</label>
        <input asp-for="UserName" />
        @try
        {
            <span class="text-danger">@Model.ErrorMessage</span>
        }

        catch(Exception ex) {}
    </div>

    <button type="submit" class="btnRegister">Lägg till medlem</button>

</form>
<br />
<a href="@Url.Action("Index", "Projects")"> Klar!</a>
