@model List<Project>

<div>
	<img src="C:/Users/Friday/Documents/GitHub/CV-Projektet/CV-Projektet/Views/Projects/jorgen.png" width="100" ,height="250" />
	@foreach (var item in Model)
	{
		<h2>@item.Name</h2>
		<h3>Projektbeskrivning</h3>
		<p>@item.Description</p>
		<h3>Projektledare:</h3>
		<div class="participants">
			<a href="@Url.Action("Index", "CV", new { userID = item.ProjectLeaderID})">
				@item.ProjectLeader.FirstName @item.ProjectLeader.LastName
			</a>
		</div>
		<h3>Dessa personer ingår i projektet:</h3>
		<div>
			@foreach (var x in item.User_Project)
			{
				<div class="participants">
				<a href="@Url.Action("Index", "CV", new { userID = x.UserID})">
					@x.User.FirstName @x.User.LastName</a>
				</div>
			}
		</div>
	}
</div>
