@model List<Project>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="cardContainer" ">
	@foreach (var item in Model)
	{
	<div class="card">
		<h2 class="accentWord">@item.Name</h2>
		<p>@item.Description</p>
		<br>
		@if(item.ProjectLeader.IsPublic || SignInManager.IsSignedIn(User))
		{
		<h3>Projektledare</h3>
		<div class="participants">
			<a href="@Url.Action("Index", "CV", new { userID = item.ProjectLeaderID})">
				@item.ProjectLeader.FirstName @item.ProjectLeader.LastName
			</a>
		</div>
		<br>

		}

		<h3>Medverkande</h3>
		<div>
			@if(SignInManager.IsSignedIn(User))
			{
			@foreach (var x in item.User_Project)
			{
			<div class="participants">
				<a href="@Url.Action("Index", "CV", new { userID = x.UserID})">
					@x.User.FirstName @x.User.LastName
				</a>
			</div>
			}
			}
			else
			{
				@foreach(var x in item.User_Project.Where(x=>x.User.IsPublic==true))
				{
				<div class="participants">
				<a href="@Url.Action("Index", "CV", new { userID = x.UserID})">
					@x.User.FirstName @x.User.LastName
				</a>
				</div>
				}
			}

		</div>
		@if (SignInManager.IsSignedIn(User))
		{
		bool involved = false;
		foreach (var person in item.User_Project)
		{
		if (person.UserID.Equals(UserManager.GetUserId(User)))
		{
		involved = true;
		}
		}

		if (involved)
		{
		<a class="involved" href="@Url.Action("LeaveProject", "User", new { projectId = item.ID, caller = "projects"})">&#x2717; Lämna projektet</a>
		}
		else
		{
		<a class="involved" href="@Url.Action("JoinProject", "User", new { projectId = item.ID, caller = "projects"})">&#x2713; Gå med i projektet</a>
		}
		}
	</div>
	}
</div>
