@model List<User>
@{
	ViewData["Title"] = "Profiler";
}

@*<form asp-controller="Profiles" asp-action="Index">
	<input type="text" name="searchstring_firstname" />
	<input type="text" name="searchstring_lastname"/>
	<input type="text" name="searchstring_competence" />
	<input type="submit" value="Sök" />
</form>*@

@using (Html.BeginForm("Index", "Profiles", FormMethod.Get))
{
	<lbl>Förnamn</lbl>
	@Html.TextBox("fName")
	<lbl>Efternamn</lbl>
	@Html.TextBox("lName")
	<lbl>Kompetens</lbl>
	@Html.TextBox("comp")
	<input type="submit" value="Sök">
}

<h1>Profiler</h1>
<div class="profileContainer">
	@foreach (var user in Model)
	{
		<a class="profileCard" href="@Url.Action("Index","CV", new { userID = user.Id})">
			<h2>@user.FirstName @user.LastName</h2>
			@try
			{
				if (user.CV.CV_Competences.Any())
				{
					<h3>Kompetenser</h3>
					<ul>
						@foreach (var item in user.CV.CV_Competences)
						{
							<li>@item.Competence.Name</li>
						}
					</ul>
				}
			}
			catch (Exception ex)
			{
			}
			@try
			{
				@if (user.CV.Experiences.Any())
				{
					<h3>Erfarenheter</h3>
					@foreach (var item in user.CV.Experiences)
					{
						<p>@item.Title</p>
					}
				}
			}
			catch (Exception ex)
			{
			}
		</a>
	}
</div>