@model CVDetails
@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="gridCV">
	<div class="CVleft">
		<div class="leftText"></div>
		<div class="circle">
			<img class="profilepicture" src="@("~/image/" + @Model.User.imageModel.Name)" asp-append-version="true" />
		</div>
		<h1>@Model.User.FirstName @Model.User.LastName</h1>
		<div class="leftText">
			<p>@Model.User.PhoneNumber</p>
			<p>@Model.User.Email</p>
		</div>
		<div class="leftText">
			@if (Model.User.Address != null)
			{
				<p>@Model.User.Address.Street</p>
				<p>@Model.User.Address.PostalCode, @Model.User.Address.City</p>
			}
		</div>
		<div class="cvSocialLinks">
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-linkedin"></a>
			<a href="#" class="fa fa-instagram"></a>
		</div>
		<p>@Model.User.Description</p>
	</div>
	<div class="CVright">

		@if (Model.CompetenceList.Any())
		{
			<h2 class="competence">Kompetenser</h2>
			<ul>
				@foreach (var item in Model.CompetenceList)
				{
					<li>@item.Name</li>
				}
			</ul>
		}

		@if (Model.ExperienceList.Where(e => e.Type.Equals("Education")).Any())
		{
			<h2 class="education">Utbildningar</h2>
			@foreach (var item in Model.ExperienceList)
			{
				if (item.Type.Equals("Education"))
				{
					<h3>@item.Title</h3>
					<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
					<p>@item.Place, @item.City</p>
					<p>@item.Description</p>
				}
			}
		}

		@if (Model.ExperienceList.Where(e => e.Type.Equals("Work")).Any())
		{
			<h2 class="work">Arbetslivserfarenhet</h2>
			@foreach (var item in Model.ExperienceList)
			{
				if (item.Type.Equals("Work"))
				{
					<h3>@item.Title</h3>
					<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
					<p>@item.Place , @item.City</p>
					<p>@item.Description</p>
				}
			}
		}

		@if (Model.ExperienceList.Where(e => e.Type.Equals("Course")).Any())
		{
			<h2 class="coure">Kurser</h2>
			@foreach (var item in Model.ExperienceList)
			{
				if (item.Type.Equals("Course"))
				{
					<h3>@item.Title</h3>
					<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
					<p>@item.Place , @item.City</p>
					<p>@item.Description</p>
				}
			}
		}

		@if (Model.ExperienceList.Where(e => e.Type.Equals("Misc")).Any())
		{
			<h2 class="misc">Övrigt</h2>
			<p></p>
		}

		@if (Model.ProjectList.Any())
		{
			<h2 class="project">Projekt</h2>
			@foreach (var project in Model.ProjectList)
			{
				<h3>@project.Name</h3>
				<p>@project.Description</p>
			}
		}

	</div>
</div>