@model Project
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<h2 style="text-align:center">Redigera ditt projekt</h2>

<form class="formRegister" method="post" asp-controller="ManagedProjects" asp-action="EditProject">
	<input type="hidden" asp-for="@Model.ID" name="projectId" />
	<input type="hidden" asp-for="ProjectLeaderID" value="@Model.ProjectLeaderID" />
	<div class="inputRow">
		<label>Projektnamn:</label>
		<input asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="inputRow">
		<label>Prejektbeskrivning:</label>
		<input asp-for="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<button type="submit" class="btnRegister btn-dark">Spara</button>
</form>
<br />
<br />
<br />
<h3 style="text-align:center">Hantera medlemmar i projektet:</h3>
@try
{
	<div class="" inputRow>
		@foreach (var item in Model.User_Project)
		{
			<p style="text-align:center; margin-bottom: -1em;">@item.User.FirstName @item.User.LastName</p>
			<form asp-controller="ManagedProjects" asp-action="DeleteFromProject" class="formRegister">
				<input type="hidden" asp-for="@item.User.Id" name="userid" />
				<input type="hidden" asp-for="@Model.ID" name="projectId" />				
				<button type="submit" class="btnRegister btn-dark">Radera</button>
			</form>			
		}
	</div>
	<br />
	<br />
	<br />	
	<h3 style="text-align:center">Lägg till medlemmar i projektet:</h3>

}
catch (Exception ex) { }
<form method="post" asp-controller="ManagedProjects" asp-action="AddMembers" class="formRegister">
	<div class="inputRow">
		<input type="hidden" asp-for="@Model.ID" name="projectId" />
	</div>
	<div class="inputRow">
		<label>Användarnamn:</label>
		<input name="UserName" />
		<p>@ViewBag.Message</p>
	</div>
	<button type="submit" class="btnRegister btn-dark">Lägg till ny medlem</button>
</form>


<form asp-controller="ManagedProjects" asp-action="Delete" class="formRegister">
	<div class="inputRow">
		<input type="hidden" asp-for="@Model.ID" name="projectId" />
	</div>
	<button type="submit" class="btnRegister btn-danger">Radera projektet</button>
</form>
