@model Project
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<h2>Redigera dina projekt</h2>

<form class="formRegister" method="post" asp-controller="Projects" asp-action="EditProject">
	<div class="inputRow">
		<label>Projektnamn:</label>
		<input asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="inputRow">
		<label>Prejektbeskrivning:</label>
		<input asp-for="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<button type="submit" class="btnRegister">Spara</button>
</form>

<div>
	<label>Hantera medlemmar i projektet:</label>
	@try
	{
		@foreach (var item in Model.User_Project)
		{
			<p>@item.User.FirstName @item.User.LastName</p>
			<form asp-controller="ManagedProjects" asp-action="DeleteFromProject">
				<input type="hidden" asp-for="@item.User.Id" name="userid" />
				<input type="hidden" asp-for="@Model.ID" name="projectId" />
				<input type="submit" value="Radera" class="btn btn-dark" />
			</form>
		}

		<form method="post" asp-controller="ManagedProjects" asp-action="AddMembers">
			<div class="inputRow">
				<input type="hidden" asp-for="@Model.ID" name="projectId" />
				<label>Användarnamn:</label>
				<input name="UserName" />

				<span class="text-danger">@ViewBag.ErrorMessage</span>

			</div>
			<button type="submit" class="btnRegister">Lägg till medlem</button>
		</form>
	}
	catch (Exception ex) { }

</div>
