@model CVDetails
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@try
{
	<h1 class="accentWord">Dina erfarenheter</h1>
	<br />
	<h2 class="accentWord">Utbildningar</h2>
	@if (Model.ExperienceList.Where(e => e.Type.Equals("Education")).Any())
	{
		@foreach (var item in Model.ExperienceList)
		{
			if (item.Type.Equals("Education"))
			{
				<h3>@item.Title</h3>
				<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
				<p>@item.Place, @item.City</p>
				<p>@item.Description</p>
				<form asp-controller="CVSettings" asp-action="DeleteExperience">
					<input type="hidden" asp-for="@item.ID" name="id" />
					<input type="submit" value="Radera" class="btn btn-dark" />
				</form>
				<br />
			}
		}
	}
	else
	{
		<p>Du har inga utbildningar tillagda. Lägg till fler nedan.</p>
	}
	<h2 class="accentWord">Arbetslivserfarenheter</h2>
	@if (Model.ExperienceList.Where(e => e.Type.Equals("Work")).Any())
	{
		@foreach (var item in Model.ExperienceList)
		{
			if (item.Type.Equals("Work"))
			{
				<h3>@item.Title</h3>
				<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
				<p>@item.Place , @item.City</p>
				<p>@item.Description</p>
				<form asp-controller="CVSettings" asp-action="DeleteExperience">
					<input type="hidden" asp-for="@item.ID" name="id" />
					<input type="submit" value="Radera" class="btn btn-dark" />
				</form>
				<br />
			}
		}
	}
	else
	{
		<p>Du har inga arbeten tillagda. Lägg till fler nedan.</p>
	}
	<h2 class="accentWord">Kurser</h2>
	@if (Model.ExperienceList.Where(e => e.Type.Equals("Course")).Any())
	{
		@foreach (var item in Model.ExperienceList)
		{
			if (item.Type.Equals("Course"))
			{
				<h3>@item.Title</h3>
				<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
				<p>@item.Place , @item.City</p>
				<p>@item.Description</p>
				<form asp-controller="CVSettings" asp-action="DeleteExperience">
					<input type="hidden" asp-for="@item.ID" name="id" />
					<input type="submit" value="Radera" class="btn btn-dark" />
				</form>
				<br />
			}

		}
	}
	else
	{
		<p>Du har inga kurser tillagda. Lägg till fler nedan.</p>
	}
	<h2 class="accentWord">Övrigt</h2>
	@if (Model.ExperienceList.Where(e => e.Type.Equals("Misc")).Any())
	{
		@foreach (var item in Model.ExperienceList)
		{
			@if (item.Type.Equals("Misc"))
			{
				<h3>@item.Title</h3>
				<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
				<p>@item.Place , @item.City</p>
				<p>@item.Description</p>
				<form asp-controller="CVSettings" asp-action="DeleteExperience">
					<input type="hidden" asp-for="@item.ID" name="id" />
					<input type="submit" value="Radera" class="btn btn-dark" />
				</form>
				<br />
			}

		}
	}
	else
	{
		<p>Du har inga övriga erfarenheter tillagda. Lägg till fler nedan.</p>
	}
}
catch (Exception ex) { }
<br />
<br />
<form class="formRegister" method="post" asp-controller="CVSettings" asp-action="AddExperience">

	<h2 class="accentWord">Lägg till en ny erfarenhet:</h2>
	<div class="inputRow">
		<label>Namn: </label>
		<input name="Title" class="userInput" />
	</div>
	<div class="inputRow">
		<label>Erfarenhetstyp: </label>
		<select name="Type" style="border-radius: 1em; padding: 0.5em;">
			<option value="Education">Utbildning</option>
			<option value="Work">Arbete</option>
			<option value="Course">Kurs</option>
			<option value="Misc">Övrigt</option>
			<select />
	</div>
	<div class="inputRow">
		<label>Startdatum: </label>
		<input type="date" id="" name="StartDate" class="userInput">
	</div>
	<div class="inputRow">
		<label>Slutddatum: </label>
		<input type="date" id="" name="EndDate" class="userInput">
	</div>
	<div class="inputRow">
		<label>Stad: </label>
		<input class="userInput" name="City" />
	</div>
	<div class="inputRow">
		<label>Plats: </label>
		<input class="userInput" name="Place" />
	</div>
	<div class="inputRow">
		<label>Beskrivning: </label>
		<input class="userInput" name="Description" />
	</div>
	<input type="submit" value="Spara" class="btn btn-dark btnRegister">
	<br />
	<p>@Model.ErrorMessage</p>
	<br />
</form>
