@model CVDetails
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<h2 class="education">Utbildningar</h2>

<h2 class="work">Arbetslivserfarenhet</h2>
@foreach (var item in Model.ExperienceList)
{
	if (item.Type.Equals("Work"))
	{
		<h3>@item.Title</h3>
		<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
		<p>@item.Place , @item.City</p>
		<p>@item.Description</p>
	}
}

<h2 class="coure">Kurser</h2>
@foreach (var item in Model.ExperienceList)
{
	if (item.Type.Equals("Course"))
	{
		<h3>@item.Title</h3>
		<p>@item.StartDate.ToString().Substring(0, 10) - @item.EndDate.ToString().Substring(0, 10)</p>
		<p>@item.Place , @item.City</p>
		<p>@item.Description</p>
	}
}
@if (Model.ExperienceList.Where(e => e.Type.Equals("Misc")).Any())
{
	<h2 class="misc">Övrigt</h2>
	<p></p>
}

@if (Model.ProjectList.Any())
{
	<h2 class="project">Projekt</h2>
	@foreach (var project in Model.ProjectList)
	{
		<h3>@project.Name</h3>
		<p>@project.Description</p>
	}
}}
}
