@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model SendMessageViewModel

<a class="" href="@Url.Action("Index", "CV", new { userID = Model.ReceiverId})">Tillbaka till CV</a>
<br />
<br />
<h2>Skicka ett meddelande till <em class="accentWord">@Model.ReceiverName</em></h2>
<br />
<form method="post" asp-action="SendMessage">
	@if (!SignInManager.IsSignedIn(User))
	{
		<div class="">
			<label>Avsändare: </label><br>
			<input name="SenderName" value="@Model.SenderName" class="senderSendMessage" />
		</div>
		<br />
	}
	<div class="">
		<label>Meddelande: </label><br />
		<textarea name="Text" class="textAreaSendMessage">@Model.Text</textarea>
	</div>
	<br />
	<span class="text-danger">@Model.ErrorInfo</span>
	<br />
	<br />
	<div class="">
		<div class="">
			<button type="submit" class="btn btn-primary skickaKnapp">Skicka</button>
		</div>
	</div>
</form>

