@model ImageModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
}

<hr />
@try
{
	if (Model.UserID.Any())
	{
		<table class="table-bordered">
			<thead>
				<tr>
					<td>Titel</td>
					<td>Filnamn</td>
					<td>Bild</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.Title</td>
					<td>@Model.Name</td>
					<td>
						<img src="@("~/image/"+Model.Name)" asp-append-version="true" width="250px" height="250" />
					</td>
					@*<td>
						<a asp-action="Edit" asp-route-id="@Model.ID">Uppdatera</a>
					</td>*@
					<td>
						<a asp-action="Delete" asp-route-id="@Model.ID">Radera</a>
					</td>

				</tr>
			</tbody>
		</table>
	}

}
catch (Exception ex)
{
	<a class="edit" href="@Url.Action("Add","Image", new { userID = User.Identity})">Lägg till profilbild</a>
}
